@import '../../../styles-variables';

h1 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.home-page-content {
  //Note: #{$footer-height} is special scss syntax = 'the effective height of var $footer-height'
  height: calc(100vh - #{$footer-height});
  width: 100%;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
  z-index: 0;
  text-align: center;
  color: white;
}
