@import '../../../styles-variables';

h1 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.home-page-content {
  //Note: #{$footer-height} is special scss syntax = 'the effective height of var $footer-height'
  height: calc(100vh - #{$footer-height});
  width: 100%;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
  z-index: 0;
  text-align: center;
  color: white;

  .search-input-wrapper {
    textarea:focus,
    input:focus,
    *:focus {
      outline: none;
    }
    .search-input {
      border: none;
      text-align: center;
      margin: 20px 0px;
      width: 200px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      font-size: 22px;
      opacity: 1; /* Firefox */
    }
  }

  textarea:focus,
  input:focus,
  *:focus {
    outline: none;
  }

  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
