@import '../../../styles-variables';

.home2-page-content {
  //Note: #{$footer-height} is special scss syntax = 'the effective height of var $footer-height'
  height: calc(100vh - #{$footer-height});
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  // color: white;
}

.video-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.vid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.intro-text {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto auto;
  display: flex;
  align-items: center;

  .text-panel {
    flex: 1;
    text-align: center;
    // background: rgba(255, 255, 255, 0.5);
    margin: 10% 10%;
    h1 {
      //
    }
  }

  textarea:focus,
  .home-page-search {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.3);
    display: inline-block;
    text-align: center;
    color: white;
    border: solid white 0px;
    outline: none;
    line-height: 40px;
    width: 50%;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
}
