$cccc-black-primary: mat-palette($mat-grey, 700, 300, 900);
$cccc-black-secondary: mat-palette($mat-grey, 700, 300, 900);
$cccc-black-accent: mat-palette($mat-blue-grey, 400);
$cccc-black-warn: mat-palette($mat-red, 500);

$cccc-black-theme: mat-dark-theme($cccc-black-primary, $cccc-black-accent, $cccc-black-warn);
