$cccc-candy-primary: mat-palette($mat-indigo);
$cccc-candy-accent: mat-palette($mat-pink, A200, A100, A400);
$cccc-candy-warn: mat-palette($mat-red);

$cccc-candy-theme: mat-light-theme($cccc-candy-primary, $cccc-candy-accent, $cccc-candy-warn);
