$cccc-primary: mat-palette($mat-indigo, 800, 300, 900);
$cccc-accent: mat-palette($mat-light-blue);
$cccc-warn: mat-palette($mat-pink, 600);

$cccc-theme: mat-light-theme($cccc-primary, $cccc-accent, $cccc-warn);
