$brznk-light-primary: mat-palette($mat-grey, 200, 500, 300);
$brznk-light-accent: mat-palette($mat-brown, 200);
$brznk-light-warn: mat-palette($mat-deep-orange, 200);

$brznk-light-theme: mat-light-theme($brznk-light-primary, $brznk-light-accent, $brznk-light-warn);
