$cccc-light-primary: mat-palette($mat-grey, 200, 500, 300);
$cccc-light-accent: mat-palette($mat-brown, 200);
$cccc-light-warn: mat-palette($mat-deep-orange, 200);

$cccc-light-theme: mat-light-theme($cccc-light-primary, $cccc-light-accent, $cccc-light-warn);
