$brznk-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$brznk-nature-accent: mat-palette($mat-deep-purple, 300);
$brznk-nature-warn: mat-palette($mat-red, 600);

$brznk-nature-theme: mat-light-theme($brznk-nature-primary, $brznk-nature-accent, $brznk-nature-warn);
