$cccc-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$cccc-nature-accent: mat-palette($mat-deep-purple, 300);
$cccc-nature-warn: mat-palette($mat-red, 600);

$cccc-nature-theme: mat-light-theme($cccc-nature-primary, $cccc-nature-accent, $cccc-nature-warn);
