@import '../../../styles-variables';

.data-page-wrapper {
  min-height: calc(100vh - #{$footer-height});
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding: 100px 5%;
  width: 100%;
}

.col-button {
  margin: 2px;
}

.table-wrapper {
  table {
    margin: auto auto;
    // color: rgba(mat-color($background, background), 0.8);
  }
}

hr {
  // color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.filter-field {
  color: white;
}

.mat-form-field {
  font-size: 14px;
  // width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 10px 10px 10px 0;
}
