@import '~@angular/material/theming';

@mixin cccc-settings-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  cccc-settings {
    .settings-wrapper {
      // background-color: rgba(mat-color($primary, lighter), 0.5);
      // background-color: rgba(mat-color($background), 0.5);
      background-color: rgba(mat-color($background, background), 0.8);
    }
  }
}
